<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../publics/css/styles.css">
</head>
<body>
    <main class="form-container">
        <form action="/sign-up" method="post" class="sign-up-styles">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="mdp" placeholder="Password">
            <input type="password" name="cmpd" placeholder="Email confirmation">
            <button type="button" name="valider">s'inscrire</button>
        </form>
    </main>
</body>
</html>